<h2>Погода сегодня: </h2>

<p>Погода в <%= @city_name %> сегодня:</p>
<p>Температура: от <%= @min_temp %> до <%= @max_temp %> °C
<p>Ветер до <%= @max_wind %> м/с</p>
<p>Облачность: <%= @clouds %></p>
